header.header-top-fluid{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    height: calc(100vh - 6rem);
    background-image: linear-gradient(to right, #3dcdbc, #2ac3c0, #20b8c2, #26acc1, #33a1bd);

    .container{

        display:flex;
        

        div:nth-child(1){

            

        }

        div:nth-child(2){

            padding-left: 4rem;
            color: white;
            font-family: 'Raleway', sans-serif;

            h2{


                margin: 0 0 2rem 0;
                font-size: 5rem;
                font-weight: 300;

            }

            p{

                margin:0;
                font-size: 1.6rem;
                font-weight: 400;

            }

        }
    }

}