html{

    font-size:  10px;

        body{

            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

}

// KLASY!!!

.container-fluid{

    width: 100%;

}

.container{

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.hidden{

    display: none;

}

@import 'navbar';
@import 'header';
@import 'info';
@import 'button';
@import 'quotes';